<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1089591830865-r3vpprfamm65eqhi25m401rad6qoi5d9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089591830865-r3vpprfamm65eqhi25m401rad6qoi5d9</string>
	<key>API_KEY</key>
	<string>AIzaSyAY3t2KGRqSPfyW70IFNzzGEhqJolNwbFE</string>
	<key>GCM_SENDER_ID</key>
	<string>1089591830865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.notidemo</string>
	<key>PROJECT_ID</key>
	<string>hmtmoda-147110</string>
	<key>STORAGE_BUCKET</key>
	<string>hmtmoda-147110.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089591830865:ios:9da0a597a20da37f</string>
	<key>DATABASE_URL</key>
	<string>https://hmtmoda-147110.firebaseio.com</string>
</dict>
</plist>